.app-page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: pulse 10s infinite;
}

.page-form h1 {
  padding-bottom: 2rem;
}

.page-form {
  min-width: 20rem;
  max-width: 50vmin;
  border-radius: 1rem;
  padding: 1rem;
}

.page-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.page-form form div {
  width: 100%;
  display: flex;
  align-items: center;
}

.page-form form div span {
  width: 30%;
}

.page-form form input {
  width: 70%;
  border-radius: 0.5rem;
  border-width: 1px;
  height: 1rem;
  padding: 0.5rem;
}

.page-form .buttons {
  display: flex;
  justify-content: center;
}

.page-form .buttons .action-button {
  min-height: 5rem;
  padding: 0.5rem 2rem;
  font-size: x-large;
  border-radius: 0.5rem;
  border-width: 1px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: outset;
  padding-block: 1px;
}

@media (prefers-color-scheme: light) {
  .app-page {
    background-color: var(--bg-light);
    color: var(--text-light);
  }
  .page-form {
    background-color: var(--bg-dark);
    color: var(--text-dark);
    box-shadow:
      0 0 0.5rem var(--amber-light),
      0 0 1rem var(--link-light);
  }
  input {
    border-color: var(--link-light);
  }
  input:focus {
    outline: none;
    border: 1px solid var(--amber-dark);
    box-shadow:
      inset 0 0 3px var(--link-dark),
      0 0 1px var(--amber-light);
  }
  .action-button {
    margin: 2rem;
    color: var(--text-dark);
    border-color: var(--link-dark);
    box-shadow: 0 0 3px var(--link-dark);
  }
  .action-button:hover {
    cursor: pointer;
    color: var(--amber-dark);
    box-shadow:
      0 0 3px var(--link-dark),
      0 0 5px var(--amber-dark);
  }
  .page-form form .error {
    border: 2px solid var(--amber-light);
  }
}

@media (prefers-color-scheme: dark) {
  .app-page {
    background-color: var(--bg-dark);
    color: var(--text-dark);
  }
  .page-form {
    background-color: var(--bg-light);
    color: var(--text-light);
    box-shadow:
      0 0 0.5rem var(--amber-dark),
      0 0 1rem var(--link-dark);
  }
  input {
    border-color: var(--link-dark);
  }
  input:focus {
    outline: none;
    border: 1px solid var(--amber-light);
    box-shadow:
      inset 0 0 3px var(--link-light),
      0 0 1px var(--amber-dark);
  }
  .action-button {
    margin: 2rem;
    color: var(--text-light);
    border-color: var(--link-light);
    box-shadow: 0 0 3px var(--link-light);
  }
  .action-button:hover {
    cursor: pointer;
    color: var(--amber-light);
    box-shadow:
      0 0 3px var(--link-light),
      0 0 5px var(--amber-light);
  }
  .page-form form .error {
    border: 2px solid var(--amber-dark);
  }
}
